div#archive {
    border: 1px solid #cccccc;
    background-color: #f9f9f9;
    padding: 0px 0px;
    margin-right: 20px;
    line-height: 130%;
    width: 100%;
}
div#archive ul {
    list-style-type: none;
}
div#archive li {
    margin: 1em;
    margin-left:0;}
div#archive li:before {
    content: '\2e05 \ \ ';
}
