div#TOC {
    border: 1px solid #cccccc;
    background-color: #f9f9f9;
    padding: 0px 0;
    line-height: 130%;
    width: 100%;
}

div#TOC li {
    list-style: none;
    margin: 0.2em;
}
div#TOC li:before {
    content: '\235F \ \ ';
}
div#TOC li a {color: #0087ff;}
div#TOC li li a { color: #00afaf; }
div#TOC li li li a { color: #5f8700; }
