<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <div id="header">
            <div id="logo">
	      <a href="/">
	      <img src="/images/logo.png" width="50" alt="@">
	      </a>
            </div>
            <div id="navigation">
                <a href="/">About</a>
		<a href="/pub/">Papers</a>
		<a href="/agenda/">Agenda</a>
		<a href="/mikveh/">Mikveh</a>
		<a href="/arbeit/">Arbeit</a>
		<a href="/notes/">Notes</a>		
                <a href="/log/">Log</a>
		<a href="https://github.com/sdll">Hub</a>
            </div>
        </div>
        <div id="content">
            $body$
        </div>
    </body>
</html>
